@* @model DogApp.Models.DogViewModel *@
@model DogViewModel

@{

}
<h1>Add Dog</h1>
<hr />
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Add a new Dog!</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Dog" asp-action="CreateDog" method="post">
                    <div class="mb-3">
                        <label for="" class="form-label">Dog Name</label>
                        <input type="text" class="form-control" asp-for=Name />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Dog Age</label>
                        <input type="number" class="form-control" asp-for=Age />
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

</div>