@page "/"

<p><button @onclick="@Method1">Method 1</button></p>
<p>@display1</p>

<p><button @onclick="@(async() => await Method2("Method 2 :"))">Method 2</button></p>
<p>@display2</p>

@code {
    string display1 = "n/a";
    string display2 = "n/a";


    void Method1()
    {
        display1 = "Executed at " + DateTime.UtcNow.ToShortTimeString();
    }

    Task Method2(string methodname)
    {
        display2 = "Executed at " + methodname + DateTime.UtcNow.ToShortTimeString();
        return Task.CompletedTask;
    }
}