@model DogApp.Models.DogViewModel

@{

}

<h1>Hello World</h1>
<p>This is the index page of the HelloWorld Controller</p>
<h4>A dog name @Model.Name says hello.</h4>
<h4>@Model.Name is @Model.Age years old.</h4>